<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                Workplace creation
            </div>
            <div class="card-block workplace-form">
                    <form class="form-2orizontal" name="workplaceForm" ng-submit="createWorkPlace()">
                        <div class="form-group" ng-class="{ 'has-danger' : workplaceForm.name.$error.required && workplaceForm.name.$touched }">
                            <label class="form-control-label" for="prependedInputWorkplace">Name</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <input
                                            id="prependedInputWorkplace"
                                            class="form-control"
                                            size="16"
                                            name="name"
                                            type="text"
                                            required
                                            ng-model="workplace.name"
                                    >
                                </div>
                            </div>
                            <p class="help-block" ng-show="workplaceForm.name.$error.required && workplaceForm.name.$touched">Workplace name is required</p>
                            <div style="height: 21px;" ng-hide="workplaceForm.name.$error.required && workplaceForm.name.$touched"></div>
                        </div>
                        <div
                            class="form-group"
                            ng-if="!hideDepartment"
                        >
                            <label class="form-control-label" for="prependedInputDepartment">Department</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <select
                                            class="form-control" name="prependedInputDepartment" id="prependedInputDepartment"
                                            ng-options="department.name for department in departmentsList track by department.id"
                                            ng-model="workplace.department" ng-change="selectPlace(workplace.department)"
                                            required
                                    >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="prependedInputDepartment">Check list</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <select
                                            class="form-control" name="prependedInputChecklist"
                                            id="prependedInputChecklist"
                                            ng-options="check.name for check in checkList track by check.id"
                                            ng-model="selectedCheckList" ng-change="selectCheck(selectedCheckList)"
                                    >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <label class="form-control-label" for="prependedInputCriteria">Available Criteria</label>
                        <select
                                ng-model="workplace.criteria"
                                id="prependedInputCriteria"
                                name="prependedInputCriteria"
                                ng-options="obj as obj.name for obj in criteriasList track by obj.id"
                                filter="false"
                                multiple
                                bs-duallistbox
                                bootstrap2="{{ settings.bootstrap2 }}"

                                move-on-select="{{ settings.moveOnSelect }}"
                                preserve-selection="{{ settings.preserveSelection }}"

                                move-selected-label="{{ settings.moveSelectedLabel }}"
                                move-all-label="{{ settings.moveAllLabel }}"
                                remove-selected-label="{{ settings.removeSelectedLabel }}"
                                remove-all-label="{{ settings.removeAllLabel }}"

                                non-selected-list-label="{{ settings.nonSelectedListLabel }}"
                                selected-list-label="{{ settings.selectedListLabel }}"

                                postfix="{{ settings.postfix }}"
                                select-min-height="{{ settings.selectMinHeight }}"

                                info-all="{{ settings.infoAll }}"
                                info-filtered="{{ settings.infoFiltered }}"
                                info-empty="{{ settings.infoEmpty }}"

                        >
                        </select>
                        <div style="padding: 15px 0 0 0;" class="form-actions">
                            <button type="submit"
                                    class="btn btn-primary"
                            >Save workplace</button>
                        </div>
                    </form>
              </div>
          </div>
    </div>
 </div>
