<div class="card-block workplaces-container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>Workplaces</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workPlace in placesForDepartment.places track by $index">
                    <td>{{workPlace.name}}</td>
                </tr>
                <tr ng-if="placesForDepartment.places.length === 0">
                    <td style="color:orange">List is empty</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
