<div class="animated fadeIn chart" ng-cloak="">


    <div class="card" ng-controller="DashboardChart">
        <div class="card-block">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="card-title mb-0">Audit history for departments</h4>
                    <div class="small text-muted">5s-Figures Performance</div>
                </div>
                <!--/.col-->

                <!--/.col-->
            </div>
            <!--/.row-->
            <div style="display:flex; flex-direction:row; justify-content:space-between" ng-show="!AuditHistoryIsEmpty || !messageErrorAuditHistory" class="chart-wrapper" style="margin-top:40px;">
                <!--<canvas class="chart chart-bar" chart-data="historyAudit.data" chart-labels="historyAudit.labels" chart-legend="false" chart-series="historyAudit.series" chart-click="historyAudit.onClick" chart-options="historyAudit.options" chart-colors="historyAudit.colors" chart-dataset-override="historyAudit.datasetOverride" height="300"></canvas>-->
                <div style="">
                     <div height-row style="" id="timeline" ng-style="timelineHeight"></div>
                </div>
                <div>
                    <div ng-repeat="row in getNumber(AuditHistoryCountRow) track by $index" style="height:41px; display: flex;  align-items: center;">
                        <button class="btn btn-outline-success" ng-if="!auditDone[row]" style="float:left; margin:0px 20px">Start</button>
                        <button class="btn btn-outline-error" ng-if="auditDone[row]" style="float:left; margin:0px 20px">Stop</button>
                    </div>
                </div>
            </div>
            <div ng-show="AuditHistoryIsEmpty && !messageErrorAuditHistory">
                <h4>The requested audit of history is empty</h4>
            </div>
            <div ng-show="messageErrorAuditHistory">
                <h4>{{messageErrorAuditHistory}}</h4>
            </div>
        </div>


        <div class="card-block">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">Score history</h4>
                    <div class="small text-muted">5s-Figures Performance</div>
                </div>
                <div class="col-sm-7 select_group">
                    <select ng-if="$root.isAdmin()"
                            ng-disabled="headerFilter.company.isDisabled"
                            class="dashboard__select" name="companySelect" id="companySelect"
                            ng-options="company.name for company in companiesList track by company.id"
                            ng-model="search.company" ng-change="selectCompany(search.company)"
                    >
                    </select>
                    <select ng-disabled="headerFilter.department.isDisabled"
                            class="dashboard__select" name="departmentSelect" id="departmentSelect"
                            ng-options="department.name for department in withHeaderDepartments track by department.id"
                            ng-model="search.department" ng-change="selectDepartment(search.department)"
                    >
                    </select>
                    <select ng-disabled="headerFilter.workplace.isDisabled"
                            class="dashboard__select" name="workplaceSelect" id="workplaceSelect"
                            ng-options="place.name for place in withHeaderWorkPlaces track by place.id"
                            ng-model="search.place" ng-change="selectPlace(search.place)"
                    >
                    </select>

                </div>
            </div>
            <!--/.row-->
            <div ng-if="!ScoreHistoryIsEmpty || !messageErrorScoreHistory" class="chart-wrapper" style="height:300px;margin-top:40px;">
                <canvas class="chart chart-line" chart-data="historyScore.data" chart-labels="historyScore.labels" chart-legend="false" chart-series="historyScore.series" chart-click="historyScore.onClick" chart-options="historyScore.options" chart-colors="historyScore.colors" chart-dataset-override="historyScore.datasetOverride" height="300"></canvas>
                <div>
                    <div id="js-legend" class="chart-legend">
                        <ul class="16-legend">
                            <li><span style="" class="fa fa-square target"></span>Target</li>
                            <li><span style="" class="fa fa-square last"></span>Last</li>
                            <li><span style="" class="fa fa-square current"></span>Current</li></ul>
                    </div>
                </div>
            </div>
            <div ng-if="ScoreHistoryIsEmpty && !messageErrorScoreHistory">
                <h4>The requested score of history is empty</h4>
            </div>
            <div ng-if="messageErrorScoreHistory">
                <h4>{{messageErrorScoreHistory}}</h4>
            </div>
        </div>


        <div class="card-block">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">Score</h4>
                    <div class="small text-muted">5s-Figures Performance</div>
                </div>
            </div>
            <!--/.row-->
            <div class="chart-wrapper" style="height:300px;margin-top:40px;" ng-if="!ScoreIsEmpty || !messageErrorScore">
                <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" chart-options="options" chart-colors="colors" chart-dataset-override="datasetOverride" height="300"></canvas>
                <div>
                    <div id="js-legend" class="chart-legend">
                        <ul class="16-legend">
                            <li><span style="" class="fa fa-square target"></span>Target</li>
                            <li><span style="" class="fa fa-square last"></span>Last</li>
                            <li><span style="" class="fa fa-square current"></span>Current</li></ul>
                    </div>
                </div>
            </div>
            <div ng-if="ScoreIsEmpty && !messageErrorScore">
                <h4>The requested place has not any started audit</h4>
            </div>
            <div ng-if="messageErrorScore">
                <h4>{{messageErrorScore}}</h4>
            </div>
        </div>
        <!--<div class="card-footer">-->
        <!---->

            <!--<table id="auditTable" class="table table-bordered">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Workplace</th>-->
                    <!--<th>Department</th>-->
                    <!--<th style="width: 15%;">Last</th>-->
                    <!--<th style="width: 15%;">Current</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody class="list">-->
                <!--<tr ng-repeat="(key, value) in table.placeName track by $index">-->
                    <!--<td>{{value}}</td>-->
                    <!--<td ng-style="{backgroundColor: table.departmentColor[$index]}" class="department">{{table.departmentName[$index]}}</td>-->
                    <!--<td style="width: 15%;" class="last-week">-->
                        <!--<i class="fa fa-long-arrow-right"  aria-hidden="true" ng-class="-->
                                                                    <!--{'up': (table.placeLastScore[$index] - table.placePrevScore[$index]) >0,-->
                                                                    <!--'down': (table.placeLastScore[$index] - table.placePrevScore[$index]) <0,-->
                                                                    <!--'equal': table.placeLastScore[$index] === table.placePrevScore[$index]}">-->
                        <!--</i>-->
                        <!--{{table.placeLastScore[$index]}}</td>-->
                    <!--<td style="width: 15%;" class="current-week">-->
                        <!--<i class="fa fa-long-arrow-right" aria-hidden="true" ng-class="-->
                                                                    <!--{'up': (table.placeCurrentScore[$index] - table.placeLastScore[$index]) >0,-->
                                                                    <!--'down': (table.placeCurrentScore[$index] - table.placeLastScore[$index]) <0,-->
                                                                    <!--'equal': table.placeCurrentScore[$index] === table.placeLastScore[$index]}">-->

                        <!--</i>-->
                        <!--{{table.placeCurrentScore[$index]}}-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    </div>
    <!--/.card-->



</div>
