.audit-atachments {
    .place-item {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        margin: 10px 0;
        .header {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            font-size: 20px;
            background: #63c2de;
            color: #fff;
        }
        .audit {
            width: 22%;
            display: inline-block;
            margin: 15px 15px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            .text {
                font-size: 17px;
                padding: 5px;
                border-bottom: 1px dashed #ccc;
            }
            .description {
                font-size: 15px;
                color: #cecece;
                padding: 5px;
                border-bottom: 1px dashed #ccc;
            }
            .transparent {
                color: transparent;
                font-size: 15px;
                padding: 5px;
                border-bottom: 1px dashed #ccc;
                -moz-user-select: -moz-none;
                -o-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                cursor: default;
            }
            .image {
                margin: 10px 0;
                background-size: contain!important;
                background-repeat: no-repeat!important;
                background-position: center!important;
                height: 400px;
            }
        }
    }
}