<div class="sidebar" ng-controller="sidebarNavCtrl">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-chart"></i>Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.departments"><i class="icon-organization"></i>Departments</a>
            </li>
            <li
                class="nav-item"
                ng-if="isAdmin()"
            >
                <a class="nav-link" ui-sref-active="active" ui-sref="app.workplaces"><i class="icon-briefcase"></i>Workplaces</a>
            </li>
            <li
                class="nav-item"
                ng-if="isAdmin()"
            >
                <a class="nav-link" ui-sref-active="active" ui-sref="app.criteria"><i class="icon-list"></i>Criteria</a>
            </li>
            <li
                class="nav-item"
            >
                <a class="nav-link" ui-sref-active="active" ui-sref="app.check"><i class="icon-check"></i>Check List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.users"><i class="icon-user"></i>Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.audit"><i class="icon-note"></i>Audit</a>
            </li>
            <li class="nav-item" ng-if="isAdmin()">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.companies"><i class="icon-briefcase"></i>Companies</a>
            </li>

        </ul>
    </nav>
</div>
