
<div ng-controller="auditAtachmentsCtrl" ng-cloak class="audit-atachments">
    <div class="place-item" ng-repeat="place in detailesList.places track by $index">
        <div class="header">{{place.name}}</div>
        <div class="audit" ng-repeat="audit in place.details.criteria track by $index">
            <div class="text">{{audit}}</div>
            <div class="description" ng-if="place.details.inspector_comment[$index].length">{{place.details.inspector_comment[$index]}}</div>
            <div class="transparent" ng-if="!place.details.inspector_comment[$index].length">transparent color</div>
            <img ng-repeat="image in place.details.attachments[$index] track by $index" class="image" ng-src="{{'http://5s.grassbusinesslabs.com/server' + image.path + image.name + '.' + image.ext}}"></img>
        </div>
    </div>
</div>