<div class="animated fadeIn audit">


    <div class="card" ng-controller="auditCtrl">
      <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-plus-square-o"></i>Audit creation
                    <div class="card-actions">
                        <a ng-if="auditState" ng-click="handleMinimize()"><i class="icon-arrow-up"></i></a>
                        <a ng-if="!auditState" ng-click="handleMinimize()"><i class="icon-arrow-down"></i></a>
                    </div>
                </div>
                <div class="card-block audit-form" ng-if="auditState">
                    <form ng-submit="submit()" class="form-2orizontal" >
                        <div class="form-group">
                            <label class="form-control-label" for="prependedInput">Name</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <input
                                      id="prependedInput"
                                      class="form-control"
                                      size="16"
                                      type="text"
                                      ng-model="audit.name"
                                      placeholder="Audit name"
                                    >
                                </div>
                                <p class="help-block">Enter audit name here</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="prependedInput">Description</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <textarea
                                      id="prependedInput"
                                      class="form-control"
                                      size="16"
                                      type="text"
                                      ng-model="audit.description"
                                      placeholder="Description"
                                    >
                                    </textarea>
                                </div>
                                <p class="help-block">Enter description here</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <div class="input-group">
                                    <label class="form-control-label audit__selectLabel" for="prependedInput">User</label>
                                    <label class="form-control-label audit__selectLabel" for="prependedInput">Department</label>
                                    <label class="form-control-label audit__selectLabel" for="prependedInput">Workplace</label>
                                </div>
                                <div class="input-group input-group-small">
                                    <label class="form-control-label audit__selectLabel2" for="prependedInput">User</label>
                                    <select
                                            class="audit__select form-control" name="UserSelect" id="UserSelect"
                                            ng-options="user.username for user in usersList track by user.id"
                                            ng-model="search.user" ng-change="selectUser(search.user)"
                                    >
                                    </select>
                                    <label class="form-control-label audit__selectLabel2" for="prependedInput">Department</label>
                                    <select
                                            class="audit__select form-control" name="departmentSelect" id="departmentSelect"
                                            ng-options="department.name for department in departmentsList track by department.id"
                                            ng-model="search.department" ng-change="selectDepartment(search.department)"
                                    >
                                    </select>
                                    <label class="form-control-label audit__selectLabel2" for="prependedInput">Workplace</label>
                                    <select
                                            class="audit__select form-control" name="workplaceSelect" id="workplaceSelect"
                                            ng-options="place.name for place in workPlacesList track by place.id"
                                            ng-model="search.workplace" ng-change="selectPlace(search.workplace)"
                                    >
                                    </select>
                                </div>
                                <p class="help-block">Choose user, department and workplace</p>
                            </div>
                        </div>
                        <div>
                            <label class="form-control-label" for="prependedInput">Score for target</label>
                            <rzslider rz-slider-model="scoreSlider.value"
                                      rz-slider-options="scoreSlider.options"></rzslider>
                            <p class="help-block">Choose score for target</p>
                        </div>
                        <div class="form-actions">
                            <button
                              type="submit"
                              class="btn btn-primary"
                            >
                              Create Audit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.col-->
      </div>

      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <i class="fa fa-align-justify"></i> Audit list
                  </div>
                  <div class="card-block">
                      <table class="table table-bordered table-striped table-sm">
                          <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Description</th>
                                  <th>Target</th>
                                  <th>Date</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr
                                ng-repeat="audit in auditList track by $index"
                              >
                                  <td class="audit-name">
                                     {{audit.name}}
                                   </td>
                                  <td class="audit-name">
                                     {{audit.description}}
                                   </td>
                                  <td class="audit-name">
                                      {{audit.target}}
                                  </td>
                                  <td class="audit-name">
                                      {{audit.started_at * 1000 | date:'yyyy-MM-dd HH:mm'}}
                                  </td>
                                  <!--<td ng-if="user.status===10">-->
                                    <!--<button-->
                                      <!--type="button"-->
                                      <!--class="btn btn-outline-success"-->
                                    <!--&gt;-->
                                      <!--Active-->
                                    <!--</button>-->
                                  <!--</td>-->
                                  <!--<td ng-if="user.status!==10">-->
                                    <!--<button-->
                                      <!--type="button"-->
                                      <!--class="btn btn-outline-danger"-->
                                    <!--&gt;-->
                                      <!--Deleted-->
                                    <!--</button>-->
                                  <!--</td>-->
                                  <!--<td>-->
                                    <!--<button-->
                                      <!--type="button"-->
                                      <!--class="btn btn-outline-danger"-->
                                      <!--ng-click="deleteUser(user.id)"-->
                                    <!--&gt;-->
                                      <!--Delete-->
                                    <!--</button>-->
                                  <!--</td>-->
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!--/.col-->
      </div>
      <!--/.row-->

    </div>
    <!--/.card-->



</div>
