<div class="animated fadeIn audit">


    <div class="card" ng-controller="auditCtrl">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <i class="fa fa-align-justify"></i> Audit list
                      <button
                        type="button"
                        class="btn btn-primary btn-sm action-button"
                        ng-click="createAuditModal()"
                        >
                          Add audit
                      </button>
                  </div>
                  <div class="card-block">
                      <table class="table table-bordered table-striped table-sm">
                          <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Description</th>
                                  <th>Target</th>
                                  <th>Date</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr
                                ng-repeat="audit in auditList track by $index"
                              >
                                  <td class="audit-name">
                                     {{audit.name}}
                                   </td>
                                  <td class="audit-name">
                                     {{audit.description}}
                                   </td>
                                  <td class="audit-name">
                                      {{audit.target}}
                                  </td>
                                  <td class="audit-name">
                                      {{audit.started_at * 1000 | date:'yyyy-MM-dd HH:mm'}}
                                  </td>
                                  <!--<td ng-if="user.status===10">-->
                                    <!--<button-->
                                      <!--type="button"-->
                                      <!--class="btn btn-outline-success"-->
                                    <!--&gt;-->
                                      <!--Active-->
                                    <!--</button>-->
                                  <!--</td>-->
                                  <!--<td ng-if="user.status!==10">-->
                                    <!--<button-->
                                      <!--type="button"-->
                                      <!--class="btn btn-outline-danger"-->
                                    <!--&gt;-->
                                      <!--Deleted-->
                                    <!--</button>-->
                                  <!--</td>-->
                                  <!--<td>-->
                                    <!--<button-->
                                      <!--type="button"-->
                                      <!--class="btn btn-outline-danger"-->
                                      <!--ng-click="deleteUser(user.id)"-->
                                    <!--&gt;-->
                                      <!--Delete-->
                                    <!--</button>-->
                                  <!--</td>-->
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!--/.col-->
      </div>
      <!--/.row-->

    </div>
    <!--/.card-->



</div>
