<div class="animated fadeIn departments">


    <div class="card" ng-controller="checkListCtrl">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header" sticky offset="55">
                      <i class="fa fa-align-justify"></i> Check list
                      <button
                        type="button"
                        class="btn btn-primary btn-sm action-button"
                        ng-click="createCheckModal()"
                        >
                          Add check list
                      </button>
                  </div>
                  <div class="card-block">
                    <table
                      class="table table-bordered table-striped table-sm"
                      ng-if="checkList.length"
                    >
                          <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="check in checkList track by $index">
                                  <td class="department-name">
                                    {{check.name}}
                                  </td>
                                  <td>
                                    <button
                                      type="button"
                                      class="btn btn-outline-primary"
                                      ng-click="showCriteriaByChecklist(check.id, check.name)"
                                    >
                                      Show criteria
                                    </button>
                                    <button
                                      type="button"
                                      class="btn btn-outline-success"
                                      ng-click="addCriteriaModal(check.id)"
                                    >
                                      Add Criteria
                                    </button>
                                    <button
                                      type="button"
                                      class="btn btn-outline-success"
                                      ng-click="editCheck(check)"
                                    >
                                      Edit
                                    </button>
                                    <button
                                      type="button"
                                      class="btn btn-outline-danger"
                                      ng-click="deleteCheck(check.id)"
                                    >
                                      Delete
                                    </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>

                        <ul class="pagination" ng-if="paginationParams.totalPages>1">

                            <!--Prev button-->
                            <li class="page-item" ng-click="prevPage()">
                            <a class="page-link" href="#">Prev</a>
                            </li>
                            <!--end of Prev button-->

                            <!--Pagination body-->
                            <li
                            class="page-item"
                            ng-repeat="page in paginationParams.pageCount track by $index"
                            ng-class="{ 'active' : page === paginationParams.current-1 }"
                            ng-click="changePage(page+1)"
                            >
                                <a class="page-link" href="#">{{ page + 1 }}</a>
                            </li>
                            <!--end of Pagination body-->

                            <!--Next button-->
                            <li class="page-item" ng-click="nextPage()">
                            <a class="page-link" href="#">Next</a>
                            </li>
                            <!--end of Next button-->

                        </ul>

                      <div class="empty-list" ng-if="!checkList.length">
                        Check list is empty
                        <a
                          href="#"
                          ng-click="createCheckModal()"
                        >
                          Add new check list
                        </a>
                      </div>
                  </div>
              </div>
          </div>
          <!--/.col-->
      </div>
      <!--/.row-->

    </div>
    <!--/.card-->



</div>
