<div class="animated fadeIn departments">


    <div class="card" ng-controller="usersCtrl">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header" sticky offset="55">
                      <i class="fa fa-align-justify"></i> User list
                      <button
                        type="button"
                        class="btn btn-primary btn-sm action-button"
                        ng-click="createUserModal()"
                        >
                          Add user
                      </button>
                  </div>
                  <div class="card-block">
                      <table class="table table-bordered table-striped table-sm">
                          <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Email</th>
                                  <th>Status</th>
                                  <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr
                                ng-repeat="user in usersList track by $index"
                              >
                                  <td
                                    class="department-name"
                                  >
                                     {{user.username}}
                                   </td>
                                  <td
                                    class="department-name"
                                    ng-click="editUser(user)">
                                    <i class="fa fa-pencil"></i>
                                     {{user.email}}
                                   </td>
                                  <td ng-if="user.status===10">
                                    <button
                                      type="button"
                                      class="btn btn-outline-success"
                                    >
                                      Active
                                    </button>
                                  </td>
                                  <td ng-if="user.status!==10">
                                    <button
                                      type="button"
                                      class="btn btn-outline-danger"
                                    >
                                      Deleted
                                    </button>
                                  </td>
                                  <td>
                                    <button
                                      type="button"
                                      class="btn btn-outline-success"
                                      ng-click="editUser(user)"
                                    >
                                      Edit
                                    </button>
                                    <button
                                      type="button"
                                      class="btn btn-outline-danger"
                                      ng-click="deleteUser(user.id)"
                                    >
                                      Delete
                                    </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!--/.col-->
      </div>
      <!--/.row-->

    </div>
    <!--/.card-->



</div>
