<div class="animated fadeIn workplaces">
    <div class="card" ng-controller="workplacesCtrl">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Workplace list
                        <button
                          type="button"
                          class="btn btn-primary btn-sm action-button"
                          ng-click="createWorkplaceModal()"
                          >
                            Add workplace
                        </button>
                    </div>
                    <div class="card-block">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Critetia</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="department in AllPlacesList track by $index">
                            <tr ng-repeat="place in department.places track by $index">
                                <td class="workplace-name">{{place.name}}</td>
                                <td class="department-name"> {{department.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary" ng-click="showCriterias()">Show Critetia</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning"  ng-click="editWorkplace(place)">Edit</button>
                                    <button type="button" class="btn btn-outline-danger"  ng-click="deleteWorkPlace(place.id)">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
